<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ symbol }}</title>

    <link rel='stylesheet' href='static/main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>


  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('home') }}">Stock-API Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('home') }}">Daily Stock Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('forex') }}">Forex Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('crypto') }}">Crypto Data</a>
    </li>
        </ul>
      </nav>

  <div class="row pt-3 mt-3">
      <h1 class='col-lg-6 pt-3 text-center'>{{ symbol }} </h1>
    {% if status %}
      <h2 class='col-lg-6 pt-3 text-center text-success'> {{ realtime_points }}</h2></div>
    {% else %}
      <h2 class='col-lg-6 pt-3 text-center text-danger\'>  {{ realtime_points }} </h2></div>
    {% endif %}

  <center>
    {{graph|safe}}

    <table style='width: 100%' class='table-striped'>
      {% for label, number in data %}
        <tr class='text-center' height='40px'>
          <td> {{ label }} </td>
          <td> {{ number }} </td>
          {% endfor %}
        </tr>
    </table>
  </center>
  </body>
</html>