<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ symbol }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>


  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="navbar-brand">Stock-API Project</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Daily Stock Data</a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('forex') }}">Forex Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('crypto') }}">Crypto Data</a>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Technical Indicators</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">SMA</a>
                    <a class="dropdown-item" href="#">MACD</a>
                    <a class="dropdown-item" href="#">STOCH</a>
                    <a class="dropdown-item" href="#">RSI</a>
                    <a class="dropdown-item" href="#">ADX</a>
                </ul>
            </li>
        </ul>
      </nav>

  <div class="row pt-3 mt-3">
      <h1 class='col-lg-6 pt-3 text-center'>{{ symbol }} </h1>
    {% if status %}
      <h2 class='col-lg-6 pt-3 text-center text-success'> {{ realtime_points }}</h2>
      </div>
      <div class="row">
          <p class='col-lg-6 text-success'></p>      
      <p class='col-lg-6 text-center text-success'> {{ change_percent }} </p>
      </div>    
    {% else %}
      <h2 class='col-lg-6 pt-3 text-center text-danger'>  {{ realtime_points }} </h2>
        </div>
    <div class="row">
          <p class='col-lg-6 text-success'></p>  
      <p class='col-lg-6 text-center text-danger'> {{ change_percent }} </p>
    </div>
    {% endif %}

      
  <center>
    {{graph|safe}}

    <div class="dropdown pb-3">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Change Graph
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('load_today_stock', stock_symbol=symbol) }}">Today</a>
            <a class="dropdown-item" href="{{ url_for('load_3_months_stock', stock_symbol=symbol) }}">3 Months</a>
            <a class="dropdown-item" href="{{ url_for('load_6_months_stock', stock_symbol=symbol) }}">6 Months</a>
            <a class="dropdown-item" href="{{ url_for('load_1_year_stock', stock_symbol=symbol) }}">1 Year</a>
            <a class="dropdown-item" href="{{ url_for('load_5_year_stock', stock_symbol=symbol) }}">5 Years</a>
        </div>
    </div>
      
    <table style='width: 100%' class='table-striped'>
      {% for label, number in data %}
        <tr class='text-center' height='40px'>
          <td> {{ label }} </td>
          <td> {{ number }} </td>
          {% endfor %}
        </tr>
    </table>
  </center>
  </body>
</html>